<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZzzWF.Properties.Settings.ZzzConnectionString" connectionString="Data Source=DESKTOP-PBAV582\SQLEXPRESS;Initial Catalog=Zzz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>